<section class="about-me container">
  <h2 class="section-title visually-hidden">About me</h2>
  <div class="about-me-title">
    <div class="about-me-title-text-box">
      <p class="about-me-title-text">
        I work with people all over the world to create impressive and
        <span class="about-me-title-text-spanfunc"> functional </span
        ><span class="about-me-title-text-spanweb"> websites </span> that
        reflecteach client's unique personality.
      </p>
    </div>
    <div class="about-me-portfolio">
      <picture>
        <source
          media="(min-width: 1440px)"
          srcset="
            ../img/about-me/image-dt.jpg    1x,
            ../img/about-me/image-dt@2x.jpg 2x
          "
        />
        <source
          media="(min-width: 768px)"
          srcset="
            ../img/about-me/image-tab.jpg    1x,
            ../img/about-me/image-tab@2x.jpg 2x
          "
        />
        <source
          media="(min-width: 375px)"
          srcset="
            ../img/about-me/image-mob.jpg    1x,
            ../img/about-me/image-mob@2x.jpg 2x
          "
        />
        <img
          class="about-me-title-img"
          src="../img/about-me/image-mob.jpg"
          alt="About me logo"
        />
      </picture>
    </div>
  </div>
  <div class="about-me-descr">
    <ul class="about-me-descr-list">
      <li class="about-me-descr-item">
        <div class="about-me-descr-item-box">
          <h3 class="about-me-descr-item-title">About me</h3>
          <button class="arrow-btn" type="button">
            <svg class="about-me-uparrow" width="20" height="20">
              <use href="../public/sprite.svg#icon-icon-up"></use>
            </svg>
          </button>
        </div>
        <div class="about-me-descr-item-about-descr">
          <ul class="about-me-descr-item-list">
            <li class="about-me-descr-item-about-text">
              I am Lloyd Jefferson, a talented programmer with extensive
              expertise in software development. I have an understanding of
              different programming languages and technologies, always ready to
              improve my skills. I always follow the latest trends and look for
              unconventional, creative solutions to problems. I have a high
              level of analytical skills and am able to effectively solve even
              the most difficult tasks encountered on the way.
            </li>
            <li class="about-me-descr-item-about-text">
              Able to work bot h independently and in a team. I can effectively
              cooperate with colleagues, exchanging ideas and finding optimal
              solutions. Professional maturity allows you to calmly cope with
              challenges and stressful situations, while maintaining a high
              quality of work. I am always looking for opportunities for
              self-improvement. I actively study new technologies and practices
              to stay abreast of the latest innovations. I have a strong
              understanding of various programming languages, frameworks and
              architectural concepts that allow me to create efficient and
              scalable software.
            </li>
          </ul>
        </div>
      </li>
      <li class="about-me-descr-item">
        <div class="about-me-descr-item-box">
          <h3 class="about-me-descr-item-title">Role</h3>
          <button class="arrow-btn accordion-js" type="button">
            <svg class="about-me-downarrow" width="20" height="20">
              <use href="../public/sprite.svg#icon-icon-down"></use>
            </svg>
          </button>
        </div>
        <div class="about-me-descr-item-about-role">
          <ul class="about-me-role-list visually-hidden">
            <li class="about-me-descr-item-role-text">Frontend development</li>
            <li class="about-me-descr-item-role-text">HeadlessCMS,Wordpress</li>
            <li class="about-me-descr-item-role-text">Blender(enjoy)</li>
          </ul>
        </div>
      </li>
      <li class="about-me-descr-item">
        <div class="about-me-descr-item-box">
          <h3 class="about-me-descr-item-title">Education</h3>
          <button class="arrow-btn" type="button">
            <svg class="about-me-downarrow" width="20" height="20">
              <use href="../public/sprite.svg#icon-icon-down"></use>
            </svg>
          </button>
        </div>
        <div class="about-me-descr-item-about-education">
          <ul class="about-me-education-list visually-hidden">
            <li class="about-me-descr-item-education-text">
              2018 - 2019 / Frontend Development Diploma, GoIT IT School, New
              York
            </li>
            <li class="about-me-descr-item-education-text">
              2019 - 2020 / Advanced Web Development Certificate, GoIT IT
              School, New York
            </li>
            <li class="about-me-descr-item-education-text">
              2020 - 2022 / Advanced Blender Animation Techniques, Udemy
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
  <div class="about-me-swiper swiper">
    <ul class="about-me-swiper-list swiper-wrapper">
      <li class="about-me-swiper-list-item swiper-slide">HTML/CSS</li>
      <li class="about-me-swiper-list-item swiper-slide">JavaScript</li>
      <li class="about-me-swiper-list-item swiper-slide">React</li>
      <li class="about-me-swiper-list-item swiper-slide">Node. js</li>
      <li class="about-me-swiper-list-item swiper-slide">React Native</li>
      <li class="about-me-swiper-list-item swiper-slide">Soft skills</li>
      <li class="about-me-swiper-list-item swiper-slide"></li>
      <li class="about-me-swiper-list-item swiper-slide"></li>
      <li class="about-me-swiper-list-item swiper-slide"></li>
      <li class="about-me-swiper-list-item swiper-slide"></li>
    </ul>

    <button class="left-arrow-btn swiper-button-next" type="button">
      <svg class="swiper-next-arrow" width="28" height="28">
        <use href="../public/sprite.svg#icon-icon-right"></use>
      </svg>
    </button>
  </div>
</section>
<script type="module" src="../js/about-me.js"></script>
