<section class="section-covers">
  <!--Not visible title for crawlers.-->
  <h1 class="visually-hidden">Covers section</h1>
  <ul class="covers-list">
    <li class="cover">
      <img src="../img/covers/powerpulse.jpg" alt="Power Puls" />
    </li>
    <li class="cover"><img src="../img/covers/mimino.jpg" alt="Mimino" /></li>
    <li class="cover">
      <img
        src="../img/covers/tradukr.jpg"
        alt="Reviving the traditional Ukrainian artistry in every stitch"
      />
    </li>
    <li class="cover">
      <img src="../img/covers/greenharvest.jpg" alt="Green Harvest" />
    </li>
    <li class="cover"><img src="../img/covers/wallet.jpg" alt="Wallet" /></li>
    <li class="cover">
      <img src="../img/covers/chego.jpg" alt="Chego jewelry" />
    </li>
    <li class="cover">
      <img src="../img/covers/energyflow.jpg" alt="Energy flow" />
    </li>
    <li class="cover">
      <img src="../img/covers/fruitbox.jpg" alt="Fruitbox" />
    </li>
    <li class="cover">
      <img src="../img/covers/englishexcellence.jpg" alt="English Excellence" />
    </li>
  </ul>
</section>

<script type="module" src="../js/covers.js"></script>
