<section class="section-covers">
  <div class="container">
    <!--Not visible title for crawlers.-->
    <h2 class="visually-hidden">Covers section</h2>

    <div class="covers-list-of-lists">
      <ul class="covers-list row row--even">
        <li class="cover">
          <img src="../img/covers/powerpulse.jpg" alt="Power Puls" />
          <!-- srcset="
              ../img/covers/powerpulse.jpg 1x,
              ../img/covers/powerpulse@2x  2x
            " -->
        </li>
        <li class="cover">
          <img src="../img/covers/mimino.jpg" alt="Mimino" />
          <!-- srcset="../img/covers/mimino.jpg 1x, ../img/covers/mimino@2x 2x" -->
        </li>
        <li class="cover">
          <img src="../img/covers/tradukr.jpg" alt="Tradukr" />
          <!-- srcset="../img/covers/tradukr.jpg 1x, ../img/covers/tradukr@2x 2x" -->
        </li>
      </ul>
      <ul class="covers-list row row--odd">
        <li class="cover">
          <img src="../img/covers/greenharvest.jpg" alt="Green Harvest" />
          <!-- srcset="
              ../img/covers/greenharvest.jpg 1x,
              ../img/covers/greenharvest@2x  2x
            " -->
        </li>
        <li class="cover">
          <img src="../img/covers/wallet.jpg" alt="Wallet" />
          <!-- srcset="../img/covers/wallet.jpg 1x, ../img/covers/wallet@2x 2x" -->
        </li>
        <li class="cover">
          <img src="../img/covers/starlightstudio.jpg" alt="Starlightstudio" />
          <!-- srcset="
              ../img/covers/starlightstudio.jpg 1x,
              ../img/covers/starlightstudio@2x  2x
            " -->
        </li>
      </ul>
      <ul class="covers-list row row--even">
        <li class="cover">
          <img src="../img/covers/chego.jpg" alt="Chego jewelry" />
          <!-- srcset="../img/covers/chego.jpg 1x, ../img/covers/chego@2x 2x" -->
        </li>
        <li class="cover">
          <img src="../img/covers/energyflow.jpg" alt="Energy flow" />
          <!-- srcset="
              ../img/covers/energyflow.jpg 1x,
              ../img/covers/energyflow@2x  2x
            " -->
        </li>
        <li class="cover">
          <img src="../img/covers/fruitbox.jpg" alt="Fruitbox" />
          <!-- srcset="../img/covers/fruitbox.jpg 1x, ../img/covers/fruitbox@2x 2x" -->
        </li>
      </ul>
      <ul class="covers-list row row--odd">
        <li class="cover">
          <img
            src="../img/covers/englishexcellence.jpg"
            alt="English Excellence"
          />
          <!-- srcset="
              ../img/covers/englishexcellence.jpg 1x,
              ../img/covers/englishexcellence@2x  2x
            " -->
        </li>
      </ul>
    </div>
  </div>
</section>

<script type="module" src="../js/covers.js"></script>
