<section class="section-covers">
  <div class="container">
    <!--Not visible title for crawlers.-->
    <h2 class="visually-hidden">Covers section</h2>

    <!-- div for animated uls -->
    <div class="covers-list-of-lists">
      <ul class="covers-list row row--even">
        <li class="cover">
          <img
            src="/img/covers/powerpulse.jpg"
            srcset="
              /img/covers/powerpulse.jpg    1x,
              /img/covers/powerpulse@2x.jpg 2x
            "
            alt="Power Puls"
          />
        </li>
        <li class="cover">
          <img
            src="/img/covers/mimino.jpg"
            srcset="/img/covers/mimino.jpg 1x, /img/covers/mimino@2x.jpg 2x"
            alt="Mimino"
          />
        </li>
        <li class="cover">
          <img
            src="/img/covers/tradukr.jpg"
            srcset="
              /img/covers/tradukr.jpg    1x,
              /img/covers/tradukr@2x.jpg 2x
            "
            alt="Tradukr"
          />
        </li>
      </ul>
      <ul class="covers-list row row--odd">
        <li class="cover">
          <img
            src="/img/covers/greenharvest.jpg"
            srcset="
              /img/covers/greenharvest.jpg    1x,
              /img/covers/greenharvest@2x.jpg 2x
            "
            alt="Green Harvest"
          />
        </li>
        <li class="cover">
          <img
            src="/img/covers/wallet.jpg"
            srcset="/img/covers/wallet.jpg 1x, /img/covers/wallet@2x.jpg 2x"
            alt="Wallet"
          />
        </li>
        <li class="cover">
          <img
            src="/img/covers/starlightstudio.jpg"
            srcset="
              /img/covers/starlightstudio.jpg   1x,
              /img/covers/starlightstudio@2x.jpg 2x
            "
            alt="Starlightstudio"
          />
        </li>
      </ul>
      <ul class="covers-list row row--even">
        <li class="cover">
          <img
            src="/img/covers/chego.jpg"
            srcset="/img/covers/chego.jpg 1x, /img/covers/chego@2x.jpg 2x"
            alt="Chego jewelry"
          />
        </li>
        <li class="cover">
          <img
            src="/img/covers/energyflow.jpg"
            srcset="
              /img/covers/energyflow.jpg    1x,
              /img/covers/energyflow@2x.jpg 2x
            "
            alt="Energy flow"
          />
        </li>
        <li class="cover">
          <img
            src="/img/covers/fruitbox.jpg"
            srcset="
              /img/covers/fruitbox.jpg    1x,
              /img/covers/fruitbox@2x.jpg 2x
            "
            alt="Fruitbox"
          />
        </li>
      </ul>
      <ul class="covers-list row row--odd">
        <li class="cover">
          <img
            src="/img/covers/englishexcellence.jpg"
            srcset="
              /img/covers/englishexcellence.jpg    1x,
              /img/covers/englishexcellence@2x.jpg 2x
            "
            alt="English Excellence"
          />
        </li>
<li class="cover">
          <img
            src="/img/covers/powerpulse.jpg"
            srcset="
              /img/covers/powerpulse.jpg    1x,
              /img/covers/powerpulse@2x.jpg 2x
            "
            alt="Power Puls"
          />
        </li>
        <li class="cover">
          <img
            src="/img/covers/mimino.jpg"
            srcset="/img/covers/mimino.jpg 1x, /img/covers/mimino@2x.jpg 2x"
            alt="Mimino"
          />
        </li>
        </li>
      </ul>
    </div>
  </div>
</section>
