<section class="faq">
    <div class="container">
        <h2>FAQ</h2>
        <div class="just">

            <!-- Accordion Wrapper -->
            <div class="accordion-container">

                <!-- Accordion Item -->
                <div class="ac">
                    <h2 class="ac-header">
                        <button type="button" class="ac-trigger">
                            <p class="text-main">What programming languages ​​are most often used in your project?</p>
                           <div class="space"> <span class="ac-plus">
                                <svg class="plus" width="20" height="20">
                                    <use href="sprite.svg#icon-icon-down"></use>
                                </svg>
                            </span>
                            <span class="ac-minus">
                                <svg class="minus" width="20" height="20">
                                    <use href="sprite.svg#icon-icon-up"></use>
                                </svg>
                            </span></div>
                        </button>
                    </h2>
                    <div class="ac-panel">
                        <p class="text-extra">In the field of web development, there are various technologies and
                            programming languages. Typically, this includes a combination of frontend (client side) and
                            backend (server side) languages.</p>
                    </div>
                </div>

                <!-- Панель 2 -->
                <div class="ac">
                    <h2 class="ac-header">
                        <button type="button" class="ac-trigger">
                            <p class="text-main">What are the deadlines for the project?</p>
                            <div class="space"> <span class="ac-plus">
                                <svg class="plus" width="20" height="20">
                                    <use href="sprite.svg#icon-icon-down"></use>
                                </svg>
                            </span>
                            <span class="ac-minus">
                                <svg class="minus" width="20" height="20">
                                    <use href="sprite.svg#icon-icon-up"></use>
                                </svg>
                            </span></div>
                        </button>
                    </h2>
                    <div class="ac-panel">
                        <p class="text-extra">The terms of project implementation depend to a large extent on a number
                            of factors, such as the scope of the project, its complexity, and the availability of
                            resources.</p>
                    </div>
                </div>

                <!-- Панель 3 -->
                <div class="ac">
                    <h2 class="ac-header">
                        <button type="button" class="ac-trigger">
                            <p class="text-main">What payment methods do you accept?</p>
                            <div class="space"> <span class="ac-plus">
                                <svg class="plus" width="20" height="20">
                                    <use href="sprite.svg#icon-icon-down"></use>
                                </svg>
                            </span>
                            <span class="ac-minus">
                                <svg class="minus" width="20" height="20">
                                    <use href="sprite.svg#icon-icon-up"></use>
                                </svg>
                            </span></div>
                        </button>
                    </h2>
                    <div class="ac-panel">
                        <p class="text-extra">We accept Visa, MasterCard, PayPal, and cryptocurrencies such as Bitcoin,
                            Ethereum and others.</p>
                    </div>
                </div>

                <!-- Панель 4 -->
                <div class="ac">
                    <h2 class="ac-header">
                        <button type="button" class="ac-trigger">
                            <p class="text-main">How can I contact you?</p>
                          <div class="space">   <span class="ac-plus">
                                <svg class="plus" width="20" height="20">
                                    <use href="sprite.svg#icon-icon-down"></use>
                                </svg>
                            </span>
                            <span class="ac-minus">
                                <svg class="minus" width="20" height="20">
                                    <use href="sprite.svg#icon-icon-up"></use>
                                </svg>
                            </span></div>
                        </button>
                    </h2>
                    <div class="ac-panel">
                        <p class="text-extra">You can contact us via email, contact form, or any messenger linked on our
                            site.</p>
                    </div>
                </div>

                <!-- Панель 5 -->
                <div class="ac">
                    <h2 class="ac-header">
                        <button type="button" class="ac-trigger">
                            <p class="text-main">Do you provide advice or support?</p>
                           <div class="space">  <span class="ac-plus">
                                <svg class="plus" width="20" height="20">
                                    <use href="sprite.svg#icon-icon-down"></use>
                                </svg>
                            </span>
                            <span class="ac-minus">
                                <svg class="minus" width="20" height="20">
                                    <use href="sprite.svg#icon-icon-up"></use>
                                </svg>
                            </span></div>
                        </button>
                    </h2>
                    <div class="ac-panel">
                        <p class="text-extra">Yes, we provide consulting and ongoing technical support after delivery of
                            the product.</p>
                    </div>
                </div>

                <!-- Панель 6 -->
                <div class="ac">
                    <h2 class="ac-header">
                        <button type="button" class="ac-trigger">
                            <p class="text-main">What does the process of developing a software product look like from idea to implementation?</p>
                        <div class="space">    <span class="ac-plus">
                                <svg class="plus" width="20" height="20">
                                    <use href="sprite.svg#icon-icon-down"></use>
                                </svg>
                            </span>
                            <span class="ac-minus">
                                <svg class="minus" width="20" height="20">
                                    <use href="sprite.svg#icon-icon-up"></use>
                                </svg>
                            </span></div>
                        </button>
                    </h2>
                    <div class="ac-panel">
                        <p class="text-extra">The process typically involves analysis, planning, prototyping,
                            development, testing, deployment, and support.</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>