<section class="faq">
    <div class="container">
        <h2>FAQ</h2>
        <div class="just">


            <ul class="accordion-container">
                <li class="ac" id="1">
                    <h2 class="ac-header">
                        <button type="button" class="ac-trigger">
                            <p class="text-main">What programming languages ​​are most often used in your project?</p>
                            <div class="space"> <span class="ac-plus">
                                    <svg class="plus" width="20" height="20">
                                        <use href="sprite.svg#icon-icon-down"></use>
                                    </svg>
                                </span>
                                <span class="ac-minus">
                                    <svg class="minus" width="20" height="20">
                                        <use href="sprite.svg#icon-icon-up"></use>
                                    </svg>
                                </span>
                            </div>
                        </button>
                    </h2>
                    <div class="ac-panel">
                        <p class="text-extra">In the field of web development, there are various technologies and
                            programming languages. Typically, this includes a combination of frontend (client side) and
                            backend (server side) languages.</p>
                    </div>
                </li>

                <!-- Панель 2 -->
                <li class="ac" id="2">
                    <h2 class="ac-header">
                        <button type="button" class="ac-trigger">
                            <p class="text-main">What are the deadlines for the project?</p>
                            <div class="space"> <span class="ac-plus">
                                    <svg class="plus" width="20" height="20">
                                        <use href="sprite.svg#icon-icon-down"></use>
                                    </svg>
                                </span>
                                <span class="ac-minus">
                                    <svg class="minus" width="20" height="20">
                                        <use href="sprite.svg#icon-icon-up"></use>
                                    </svg>
                                </span>
                            </div>
                        </button>
                    </h2>
                    <div class="ac-panel">
                        <p class="text-extra">The terms of project implementation depend to a large extent on a number
                            of factors, such as the scope of the project,
                            its complexity, and the availability of resources. Determining exact deadlines is a
                            difficult task, and it usually
                            occurs during the planning phase of the project.</p>
                    </div>
                </li>

                <!-- Панель 3 -->
                <li class="ac" id="3">
                    <h2 class="ac-header">
                        <button type="button" class="ac-trigger">
                            <p class="text-main">What payment methods do you accept?

                            </p>
                            <div class="space"> <span class="ac-plus">
                                    <svg class="plus" width="20" height="20">
                                        <use href="sprite.svg#icon-icon-down"></use>
                                    </svg>
                                </span>
                                <span class="ac-minus">
                                    <svg class="minus" width="20" height="20">
                                        <use href="sprite.svg#icon-icon-up"></use>
                                    </svg>
                                </span>
                            </div>
                        </button>
                    </h2>
                    <div class="ac-panel">
                        <p class="text-extra">Payment through credit and debit cards such as Visa, MasterCard,
                            specialized electronic payment systems such as PayPal,
                            as well as payments in cryptocurrencies such as Bitcoin, Ethereum and others.</p>
                    </div>
                </li>



            </ul>

            <!-- Панель 4 -->
            <ul class="accordion-container ">

                <li class="ac" id="4">
                    <h2 class="ac-header">
                        <button type="button" class="ac-trigger">
                            <p class="text-main second">How can I contact you?</p>
                            <div class="space"> <span class="ac-plus">
                                    <svg class="plus" width="20" height="20">
                                        <use href="sprite.svg#icon-icon-down"></use>
                                    </svg>
                                </span>
                                <span class="ac-minus">
                                    <svg class="minus" width="20" height="20">
                                        <use href="sprite.svg#icon-icon-up"></use>
                                    </svg>
                                </span>
                            </div>
                        </button>
                    </h2>
                    <div class="ac-panel">
                        <p class="text-extra third">In the field of web development, there are various technologies and
                            programming languages. Typically, this includes a
                            combination of frontend (client side) and backend (server side) <br
                                class=".br-sm">languages.</p>
                    </div>
                </li>

                <!-- Панель 5 -->
                <li class="ac" id="5">
                    <h2 class="ac-header">
                        <button type="button" class="ac-trigger">
                            <p class="text-main second">Do you provide advice or support?</p>
                            <div class="space"> <span class="ac-plus">
                                    <svg class="plus" width="20" height="20">
                                        <use href="sprite.svg#icon-icon-down"></use>
                                    </svg>
                                </span>
                                <span class="ac-minus">
                                    <svg class="minus" width="20" height="20">
                                        <use href="sprite.svg#icon-icon-up"></use>
                                    </svg>
                                </span>
                            </div>
                        </button>
                    </h2>
                    <div class="ac-panel">
                        <p class="text-extra third">The terms of project implementation depend to a large extent on a
                            number of factors, such as the scope of the project,
                            its complexity, and the availability of resources. Determining exact deadlines is a
                            difficult task, and it usually
                            occurs during the planning phase of the project.</p>
                    </div>
                </li>

                <!-- Панель 6 -->
                <li class="ac" id="6">
                    <h2 class="ac-header">
                        <button type="button" class="ac-trigger">
                            <p class="text-main second">What does the process of developing a software<span
                                    class="br-md"></span> product look like from idea to implementation?</p>
                            <div class="space"> <span class="ac-plus">
                                    <svg class="plus" width="20" height="20">
                                        <use href="sprite.svg#icon-icon-down"></use>
                                    </svg>
                                </span>
                                <span class="ac-minus">
                                    <svg class="minus" width="20" height="20">
                                        <use href="sprite.svg#icon-icon-up"></use>
                                    </svg>
                                </span>
                            </div>
                        </button>
                    </h2>
                    <div class="ac-panel">
                        <p class="text-extra third">Payment through credit and debit cards such as Visa, MasterCard,
                            specialized electronic payment systems such as PayPal,
                            as well as payments in cryptocurrencies such as Bitcoin, Ethereum and others.</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>
