<header class="header-container">
  <div class="container">
    <div class="header-content">
      <div class="header-logo-container">
        <img
          src="/img/header/logo@1x.png"
          alt="jefferson"
          srcset="/img/header/logo@1x.png 1x, /img/header/logo@2x.png 2x"
          width="80"
          height="80"
        />
        <p class="header-logo-name">jefferson*</p>
      </div>

      <div class="header-nav-container">
        <button class="header-nav-button js-menu-header" type="button">
          Menu
        </button>
        <nav class="header-nav-list visually-hidden">
          <ul class="header-nav-list-items">
            <li class="header-nav-item">
              <a href="#about-me" aria-label="About me">About me</a>
            </li>
            <li class="header-nav-item">
              <a href="#benefits" aria-label="Benefits">Benefits</a>
            </li>
            <li class="header-nav-item">
              <a href="#projects" aria-label="Projects">Projects</a>
            </li>
            <li class="header-nav-item">
              <a href="#faq" aria-label="FAQ">FAQ</a>
            </li>
          </ul>
        </nav>
      </div>

      <a
        class="header-nav-order"
        href="#work-together"
        aria-label="Let's work together"
        >Order the project</a
      >

      <button class="header-menu-button js-menu-open" type="button">
        <svg class="header-icon-menu" width="28" height="28">
          <use href="/public/sprite.svg#icon-menu"></use>
        </svg>
      </button>
    </div>
  </div>

  <div class="header-modal js-menu">
    <button class="modal-menu-button js-menu-close" type="button">
      <svg class="modal-icon-menu" width="28" height="28">
        <use href="/public/sprite.svg#icon-x"></use>
      </svg>
    </button>

    <ul class="modal-nav-list-items">
      <li class="modal-nav-item">
        <a href="#about-me" aria-label="About me">About me</a>
      </li>
      <li class="modal-nav-item">
        <a href="#benefits" aria-label="Benefits">Benefits</a>
      </li>
      <li class="modal-nav-item">
        <a href="#projects" aria-label="Projects">Projects</a>
      </li>
      <li class="modal-nav-item"><a href="#faq" aria-label="FAQ">FAQ</a></li>
    </ul>

    <a
      class="modal-nav-order"
      href="#work-together"
      aria-label="Let's work together"
      >Order the project</a
    >
  </div>
</header>
