<section class="hero-container">
  <h1 class="hero-tittle">
    Hello. <br />I’m Fullstack developer <br />Lloyd Jefferson.
  </h1>
  <div class="hero-social-links">
    <ul class="hero-social-links-list">
      <li class="hero-social-item">
        <a
          href="https://www.instagram.com/goitclub/"
          target="_blank"
          rel="noopener noreferrer"
          class="social-link instagram"
          >IG</a
        >
      </li>
      <li class="hero-social-item">
        <a
          href="https://www.youtube.com/c/GoIT/"
          target="_blank"
          rel="noopener noreferrer"
          class="social-link facebook"
          >FB</a
        >
      </li>
      <li class="hero-social-item">
        <a
          href="https://www.facebook.com/goITclub/"
          target="_blank"
          rel="noopener noreferrer"
          class="social-link youtube"
          >YT</a
        >
      </li>
      <li class="hero-social-item">
        <a
          href="https://github.com/maksymrozvodovskyi/project-LucidCode02"
          target="_blank"
          rel="noopener noreferrer"
          class="social-link github"
          >GH</a
        >
      </li>
      <li class="hero-email-item">
        <a
          href="mailto:lloydjefferson@gmail.com"
          target="_blank"
          rel="noopener noreferrer"
          class="email"
          >lloydjefferson@gmail.com</a
        >
      </li>
    </ul>
  </div>
</section>
