<section class="projects" id="projects">
  <div class="swiper-box container">
    <h2 class="projects-title">Projects</h2>
    <div class="swiper-projects swiper">
      <ul class="swiper-wrapper-projects swiper-wrapper">
        <!-- Слайд 1 -->
        <li class="swiper-slide-projects swiper-slide">
          <div class="project-card">
            <div class="list-tags">
              <ul class="tags">
                <li class="tag-react">#react</li>
                <li class="tag-js">#js</li>
                <li class="tag-node">#node.js</li>
                <li class="tag-git">#git</li>
              </ul>
            </div>
            <h3 class="name-project">
              Programming Across Borders: Ideas, Technologies, Innovations
            </h3>
            <a
              href="https://maksymrozvodovskyi.github.io/project-LucidCode02/"
              target="_blank"
              class="btn"
              type="button"
              tabindex="0"
              >See project</a
            >
          </div>
          <div class="card-black">
            <picture>
              <source
                media="(min-width:1440px)"
                srcset="
                  ../img/projects/1slide-desc@1x.jpg 1x,
                  ../img/projects/1slide-desc@2x.jpg 2x
                "
              />
              <source
                media="(min-width:768px)"
                srcset="
                  ../img/projects/1slide-tab@1x.jpg 1x,
                  ../img/projects/1slide-tab@2x.jpg 2x
                "
              />
              <source
                media="(max-width:767px)"
                srcset="
                  ../img/projects/1slidemob@1x.jpg 1x,
                  ../img/projects/1slidemob@2x.jpg 2x
                "
              />
              <img
                src="../img/projects/1slide-mob.jpg"
                alt="project1"
                width="311"
                height="195"
              />
            </picture>
          </div>
        </li>
        <!-- Слайд 2 -->
        <li class="swiper-slide-projects swiper-slide">
          <div class="project-card">
            <div class="list-tags">
              <ul class="tags">
                <li class="tag-react">#react</li>
                <li class="tag-js">#js</li>
                <li class="tag-node">#node.js</li>
                <li class="tag-git">#git</li>
              </ul>
            </div>
            <h3 class="name-project">
              Programming Across Borders: Ideas, Technologies, Innovations
            </h3>
            <a
              href="https://maksymrozvodovskyi.github.io/project-LucidCode02/"
              target="_blank"
              class="btn"
              type="button"
              tabindex="0"
              >See project</a
            >
          </div>
          <div class="card-black">
            <picture>
              <source
                media="(min-width:1440px)"
                srcset="
                  ../img/projects/2slide-desc@1x.jpg 1x,
                  ../img/projects/2slide-desc@2x.jpg 2x
                "
              />
              <source
                media="(min-width:768px)"
                srcset="
                  ../img/projects/2slide-tab@1x.jpg 1x,
                  ../img/projects/2slide-tab@2x.jpg 2x
                "
              />
              <source
                media="(max-with:375px)"
                srcset="
                  ../img/projects/2slidemob@1x.jpg 1x,
                  ../img/projects/2slidemob@2x.jpg 2x
                "
              />
              <img
                src="../img/projects/2slide-mob.jpg"
                alt="project2"
                width="311"
                height="195"
              />
            </picture>
          </div>
        </li>
        <!-- Слайд 3 -->
        <li class="swiper-slide-projects swiper-slide">
          <div class="project-card">
            <div class="list-tags">
              <ul class="tags">
                <li class="tag-react">#react</li>
                <li class="tag-js">#js</li>
                <li class="tag-node">#node.js</li>
                <li class="tag-git">#git</li>
              </ul>
            </div>
            <h3 class="name-project">
              Programming Across Borders: Ideas, Technologies, Innovations
            </h3>
            <a
              href="https://maksymrozvodovskyi.github.io/project-LucidCode02/"
              target="_blank"
              class="btn"
              type="button"
              tabindex="0"
              >See project</a
            >
          </div>
          <div class="card-black">
            <picture>
              <source
                media="(min-width:1440px)"
                srcset="
                  ../img/projects/3slide-desc@1x.jpg 1x,
                  ../img/projects/3slide-desc@2x.jpg 2x
                "
              />
              <source
                media="(min-width:768px)"
                srcset="
                  ../img/projects/3slide-tab@1x.jpg 1x,
                  ../img/projects/3slide-tab@2x.jpg 2x
                "
              />
              <source
                media="(max-with:375px)"
                srcset="
                  ../img/projects/3slidemob@1x.jpg 1x,
                  ../img/projects/3slidemob@2x.jpg 2x
                "
              />
              <img
                src="../img/projects/3slide-mob.jpg"
                alt="project3"
                width="311"
                height="195"
              />
            </picture>
          </div>
        </li>
      </ul>
    </div>
    <div class="project-buttons-wrapper">
      <button
        class="slider-arrow-prev slider-buttons"
        type="button"
        aria-label="Previos slide"
        tabindex="0"
      >
        <svg class="icon">
          <use href="../public/sprite.svg#icon-icon-left"></use>
        </svg>
      </button>
      <button
        class="slider-arrow-next slider-buttons"
        type="button"
        aria-label="Next slide"
        tabindex="0"
      >
        <svg class="icon">
          <use href="../public/sprite.svg#icon-icon-right"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
