<section class="projects">
  <h2 class="projects-title">Projects</h2>
  <div class="swiper">
    <ul class="swiper-wrapper">
      <li class="swiper-slide">
        <div class="project-card">
          <div class="list-tags">
            <ul class="tags">
              <li class="tag-react">#react</li>
              <li class="tag-js">#js</li>
              <li class="tag-node">#node.js</li>
              <li class="tag-git">#git</li>
            </ul>
          </div>
          <h3 class="name-project">
            Programming Across Borders: Ideas, Technologies, Innovations
          </h3>
          <a
            href="https://github.com/example/project3"
            target="_blank"
            class="btn"
            >See project</a
          >
        </div>
        <div class="card-black">
          <img
            srcset="
              ../img/projects/1slidemob@1x.jpg,
              ../img/projects/1slidemob@2x     2x
            "
            alt="project1"
          />
        </div>
      </li>
      <li class="swiper-slide">
        <div class="project-card">
          <div class="list-tags">
            <ul class="tags">
              <li class="tag-react">#react</li>
              <li class="tag-js">#js</li>
              <li class="tag-node">#node.js</li>
              <li class="tag-git">#git</li>
            </ul>
          </div>
          <h3 class="name-project">
            Programming Across Borders: Ideas, Technologies, Innovations
          </h3>
          <a
            href="https://github.com/example/project3"
            target="_blank"
            class="btn"
            >See project</a
          >
        </div>
        <div class="card-black">
          <img
            srcset="
              ../img/projects/22slidemob@1x.jpg,
              ../img/projects/2slidemob@2x      2x
            "
            alt="project2"
            width="311"
          />
        </div>
      </li>
      <li class="swiper-slide">
        <div class="project-card">
          <div class="list-tags">
            <ul class="tags">
              <li class="tag-react">#react</li>
              <li class="tag-js">#js</li>
              <li class="tag-node">#node.js</li>
              <li class="tag-git">#git</li>
            </ul>
          </div>
          <h3 class="name-project">
            Programming Across Borders: Ideas, Technologies, Innovations
          </h3>
          <a
            href="https://github.com/example/project3"
            target="_blank"
            class="btn"
            >See project</a
          >
        </div>
        <div class="card-black">
          <img
            srcset="
              ../img/projects/3slidemob@1x.jpg,
              ../img/projects/3slidemob@2x     2x
            "
            alt="project3"
            width="311"
          />
        </div>
      </li>
    </ul>
  </div>
  <div class="slider-buttons">
    <button class="slider-arrow prev" type="button">
      <svg class="icon">
        <use href="../public/sprite.svg#icon-arrow-narrow-left"></use>
      </svg>
    </button>

    <button class="slider-arrow next" type="button">
      <svg class="icon">
        <use href="../public/sprite.svg#icon-arrow-narrow-right"></use>
      </svg>
    </button>
  </div>
  <div class="swiper-pagination"></div>
</section>
