<section class="reviews-section">
  <div class="container">
    <h2>REVIEWS</h2>
    <div class="swiper">
      <ul class="swiper-wrapper"></ul>

      <div class="reviews-buttons-wrapper">
        <div class="reviews-buttons swiper-button-prev">
          <svg class="review-arrow left" width="24" height="24">
            <use href="../public/sprite.svg#icon-icon-right"></use>
          </svg>
        </div>
        <div class="reviews-buttons swiper-button-next">
          <svg class="review-arrow right" width="24" height="24">
            <use href="../public/sprite.svg#icon-icon-right"></use>
          </svg>
        </div>
      </div>
    </div>
  </div>
</section>
