<section id="work-together" class="work-together-section">
  <div class="container footer">
    <h2 class="footer-title">
      <img
        src="/img/work-together/image-des.png"
        alt="User Avatar"
        class="avatar"
        srcset="
          /img/work-together/image-des.png    1x,
          /img/work-together/image-des@2x.png 2x
        "
      />
      LET'S <span class="accent">WORK</span>
    </h2>
    <h2 class="footer-titel-part">TOGETHER</h2>

    <form id="contactForm" aria-label="Contact form">
      <input
        class="input-form"
        type="email"
        id="email"
        name="email"
        pattern="^\w+(\.\w+)?@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$"
        required
        placeholder="clients@gmail.com"
        aria-label="Email address"
      />

      <input
        class="input-form"
        type="text"
        id="comments"
        name="comments"
        placeholder="comments"
        aria-label="Comment"
      />

      <button type="submit" class="send-btn" aria-label="Send form">
        Send
      </button>
    </form>

    <address class="contact-links">
      <ul class="contact-list">
        <li class="contact-item">
          <a
            class="contact-email"
            href="mailto:lloydjefferson@gmail.com"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="Send email to lloydjefferson@gmail.com"
            >lloydjefferson@gmail.com</a
          >
        </li>
        <li class="contact-item">
          <a
            class="contact-phone"
            href="tel:+380111111111"
            rel="noopener noreferrer"
            target="_blank"
            aria-label="Call phone number +380 11 1111 11 11"
            >+380 11 1111 11 11</a
          >
        </li>
      </ul>
    </address>
  </div>
</section>
