.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.section-covers {
  position: relative;
  width: 100%;
  max-width: 375px;
  background-color: #1c1d20;
  background-image: url('../img/covers/elements_vectors.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  overflow-x: hidden;
  height: 508px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 32px 0;
  margin: 0 auto;
}

@media (min-resolution: 192dpi) {
  .section-covers {
    background-image: url('../img/covers/elements_vectors@2x.png');
  }
}

@media screen and (min-width: 768px) and (max-width: 1439px) {
  .section-covers {
    height: 960px;
    max-width: 768px;
    padding: 48px 0;
  }
}

@media screen and (min-width: 1440px) {
  .section-covers {
    height: 960px;
    max-width: 1440px;
    padding: 82px 0;
  }
}

.section-covers .container {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.covers-list-of-lists {
  display: flex;
  flex-direction: column;
  gap: 25px;
  transform: rotate(16deg);
  min-width: 600px;
  min-height: 650px;
  width: 100%;
}

.covers-list {
  display: flex;
  gap: 24px;
}

@media screen and (min-width: 768px) and (max-width: 1439px) {
  .covers-list-of-lists {
    gap: 50px;
    min-width: 1540px;
    min-height: 1500px;
  }
  .covers-list {
    gap: 58px;
    width: 544px;
    height: 314px;
  }
}

@media screen and (min-width: 1440px) {
  .covers-list-of-lists {
    gap: 52px;
    min-width: 1540px;
    min-height: 1500px;
  }
  .covers-list {
    gap: 32px;
    height: 314px;
    width: 544px;
  }
}

.cover {
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 282px;
  height: 163px;
  flex-shrink: 0;
}

.cover img {
  display: block;
  height: 163px;
  width: 282px;
  object-fit: cover;
}

@media screen and (min-width: 768px) and (max-width: 1439px) {
  .cover {
    width: 544px;
    height: 314px;
  }
  .cover img {
    width: 544px;
    height: 314px;
  }
}

@media screen and (min-width: 1440px) {
  .cover {
    height: 314px;
    width: 544px;
  }
  .cover img {
    height: 314px;
    width: 544px;
  }
}

/* Animation */

.row--even.animate {
  animation: bounce-left 7s linear infinite alternate;
}

.row--odd.animate {
  animation: bounce-right 7s linear infinite alternate;
}

@keyframes bounce-left {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes bounce-right {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0%);
  }
}
