.hero-tittle {
  font-weight: 500;
  font-size: 50px;
  line-height: 1;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #fafafa;
  align-self: flex-start;
  max-width: 343px;
}

.hero-container {
  padding: 281px 0 32px;
  background-image: url('../img/hero/mobile_1x.png');
  background-repeat: no-repeat;
}

.hero-social-links {
  display: flex;
  justify-content: flex-end;
  margin-top: 212px;
}

.hero-social-links-list {
  display: flex;
  gap: 4px;
}

.social-link,
.email {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: #fafafa;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-social-item,
.hero-email-item {
  display: flex;
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 60px;
  width: 37px;
}

.hero-email-item {
  width: 178px;
  height: 37px;
}

.social-link:hover,
.email:hover,
.social-link:focus,
.email:focus {
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 60px;
  opacity: 0.8;
  transition: opacity 0.2s ease-in-out;
}

@media (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero-container {
    background-image: url('../img/hero/mobile_2x.png');
  }
}

@media only screen and (min-width: 768px) {
  .hero-tittle {
    font-size: 90px;
    max-width: 632px;
    height: 460px;
  }

  .hero-social-links-list {
    gap: 8px;
  }

  .hero-social-links {
    margin-top: 187px;
  }

  .social-link,
  .email {
    font-size: 16px;
  }

  .hero-social-item,
  .hero-email-item {
    width: 55px;
  }

  .hero-email-item {
    width: 223px;
    height: 55px;
  }

  .hero-container {
    padding: 300px 0 32px;
    background-image: url('../img/hero/tablet_1x.png');
  }

  @media only screen and (min-width: 768px) and (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero-container {
      background-image: url('../img/hero/tablet_2x.png');
    }
  }
}

@media only screen and (min-width: 1440px) {
  .hero-container {
    padding-top: 300px;
    background-image: url('../img/hero/desktop_1x.png');
  }

  .hero-social-links {
    margin-top: 243px;
  }

  .hero-tittle {
    font-size: 90px;
    text-align: left;
    max-width: 1084px;
    height: 270px;
  }

  @media only screen and (min-width: 1440px) and (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero-container {
      background-image: url('../img/hero/desktop_2x.png');
    }
  }
}
