.hero-tittle {
  font-weight: 500;
  font-size: 50px;
  line-height: 1;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #fafafa;
  width: 343px;
  align-self: flex-start;
  margin: 0 auto;
}

.hero-container {
  width: 100%;
  height: 812px;
  padding: 281px 16px 32px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
 

  background-image: url('../img/hero/glasseffect@1x.png'),
    linear-gradient(to left, #1c1d20 49.68%, #69292d 67.73%, #ed3b44 100%),
    url('../img/hero/rectangle_mob@1x.png');
  background-size: 578px auto, cover, cover;
  background-position: -268px top, center, center;
  background-repeat: repeat-y, no-repeat, no-repeat;
}

.hero-social-links {
  align-self: flex-end;
}

.hero-social-links-list {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 4px;
}

.social-link,
.email {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: #fafafa;
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
}

.hero-social-item,
.hero-email-item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
   border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 60px;
  padding: 10px 8px;
  width: 37px;
  height: 37px;
  position: relative;
}

.hero-email-item {
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 60px;
  padding: 10px 12px;
  width: 178px;
  height: 37px;
}

.social-link:hover,
.email:hover,
.social-link:focus,
.email:focus {
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 60px;
  opacity: 0.8;
  transition: opacity 0.2s ease-in-out;
}

@media (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero-container {
    background-image: url('../img/hero/glasseffect@2x.png'),
      linear-gradient(to left, #1c1d20 49.68%, #69292d 67.73%, #ed3b44 100%),
      url('../img/hero/rectangle_mob@2x.png');
    background-size: 578px auto, cover, cover;
    background-position: -268px top, center, center;
    background-repeat: repeat-y, no-repeat, no-repeat;
  }
}

@media only screen and (min-width: 768px) {
  .hero-tittle {
    font-size: 90px;
    width: 632px;
  }
  .hero-social-links-list {
    gap: 8px;
  }
  .social-link,
  .email {
    font-size: 16px;
  }
  .hero-social-item,
  .hero-email-item {
    padding: 18px 16px;
    width: 55px;
    height: 55px;
  }
  .hero-email-item {
    padding: 18px 24px;
    width: 223px;
    height: 55px;
  }
  .hero-container {
    height: 1024px;
    padding: 300px 32px 32px;
    align-items: flex-start;
    background-image: url('../img/hero/glasseffect@1x.png'),
      linear-gradient(to left, #1c1d20 49.68%, #69292d 67.73%, #ed3b44 100%),
      url('../img/hero/rectangle_tablet@1x.png');
    background-size: 728px auto, cover, cover;
    background-position: -147px top, center, center;
    background-repeat: repeat-y, no-repeat, no-repeat;
  }
  @media only screen and (min-width: 768px) and (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero-container {
      background-image: url('../img/hero/glasseffect@2x.png'),
        linear-gradient(to left, #1c1d20 49.68%, #69292d 67.73%, #ed3b44 100%),
        url('../img/hero/rectangle_tablet@2x.png');
      background-size: 728px auto, cover, cover;
      background-position: -147px top, center, center;
      background-repeat: repeat-y, no-repeat, no-repeat;
    }
  }
}

@media only screen and (min-width: 1440px) {
  .hero-container {
    height: 1024px;
    padding: 300px 178px 32px;
    margin: 0 auto;
    background-image: url('../img/hero/glasseffect@1x.png'),
      linear-gradient(to left, #1c1d20 49.68%, #69292d 67.73%, #ed3b44 100%),
      url('../img/hero/rectangle_desktop@1x.png');
    background-size: auto, cover, cover;
    background-position: top left, center, center;
    background-repeat: repeat-y, no-repeat, no-repeat;
  }
  .hero-tittle {
    width: 1084px;
    font-size: 90px;
    text-align: left;
  }
  @media only screen and (min-width: 1440px) and (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero-container {
      background-image: url('../img/hero/glasseffect@2x.png'),
        linear-gradient(to left, #1c1d20 49.68%, #69292d 67.73%, #ed3b44 100%),
        url('../img/hero/rectangle_desktop@2x.png');
      background-size: 728px auto, cover, cover;
      background-position: top left, center, center;
      background-repeat: repeat-y, no-repeat, no-repeat;
    }
  }
}
